.basicLayout {
  background-color: transparent;
}

.sider {
  background-color: transparent;
}

.header {
  padding: 0;
  background-color: transparent;
}

.logo {
  height: 32px;
  margin: 16px;
  background-color: transparent;
}

.content {
  margin: 0 16px;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}

.footer {
  //   background-color: transparent;
  text-align: center;
  font-size: 12px;
}
