@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */
  background-size: cover;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  /* margin-bottom: 80px; */
  height: 100vh;
  font-size: 12px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 720px) {
}

@media (max-width: 620px) {
}

@media (max-width: 350px) {
}
